/**
 * xxx
 *
 * title
 * description
 * sub description
 *
 * xxx://xxx.xxx.xxx/xxx
 */

:root
{
--header-size: 65px;
--nav-size: 200px;
--navigation-size: 200px;
--menu-size: 250px;
--side-size: 200px;
--form-search-size: 50px;
}

/**
 * xxx
 *
 * title
 * description
 * sub description
 *
 * xxx://xxx.xxx.xxx/xxx
 */

body > #container { display: flex; flex-direction: column; height: 100%; }
body > #container > section { display: flex; flex-grow: 1; position: relative; }
body > #container > section > nav { display: none; flex-direction: column; width: var(--menu-size); }
body > #container > section > main { flex-grow: 1; }
body.phone > #container > section > nav { display: none; height: 100%; position: absolute; background-color: var(--background-color); }

/*
body > #container > header { min-height: var(--header-size); }
body > #container > header > [id="header:fly"] { display: flex; align-items: center; width: 100%; height: var(--header-size); position: fixed; background-color: var(--background-color); z-index: 10; }
*/
[component="header:fly"] { min-height: var(--header-size); }
[component="header:fly"] > div { display: flex; align-items: center; width: 100%; height: var(--header-size); position: fixed; background-color: var(--background-color); z-index: 10; }
[component="footer:info"] { font-size: var(--font-small); font-weight: normal; display: flex; flex-direction: column; align-items: center; gap: var(--px-tiny); padding: var(--px); }

[print] { display: none; }
[device="computer"] {}
[device="mobile"] {}
[device="tablet"] {}
[device="phone"] {}

@media only screen and (orientation: landscape) {
	[device="computer"] {}
	[device="mobile"] {}
	[device="tablet"] {}
	[device="phone"] {}
	}

@media print {
	#app { display: none !important; }
	[id="app:print"] { display: flex; }
	[no-print] { display: none !important; }
	[print] { display: flex !important; }
	* {}
	}

/**
 * xxx
 *
 * title
 * description
 * sub description
 *
 * xxx://xxx.xxx.xxx/xxx
 */

/**
 * the end
 *
 * xxx://xxx.xxx.xxx/xxx
 */